html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.App {
  position: relative;
  top: 0;
  min-height: 100vh;
  background-color: snow;
}

a {
  text-decoration: none;
}

/* header & Nav styles */

header {
  height: 75px;
  width: auto;
  display: flex;
  background-color: #188FA7;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  color: white;
  border: 5px solid #188FA7;
  border-radius: 5px;
  margin: 0px;
}

.samewidth {
  width: 33%;
}

.snowy-travels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}

nav {
  width: auto;
  display: flex;
  justify-content: space-evenly;

}

ul {
  list-style: none;
}


.btn {
  display: flex;
  justify-content: center;
}

.main-nav {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  font-size: 20px;

}


.home-btn {
  background-color: snow;
  border: 5px solid snow;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #188FA7;
}

.home-btn:hover {
  box-shadow: 0px 0px 5px black;
}

.travel-btn {
  background-color: snow;
  border: 5px solid snow;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #188FA7;
}

.travel-btn:hover {
  box-shadow: 0px 0px 5px black;
}

.login-btn {
  background-color: snow;
  border: 5px solid snow;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #188FA7;
}

.login-btn:hover {
  box-shadow: 0px 0px 5px black;
}

.logout-btn {
  background-color: snow;
  border: 5px solid snow;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #188FA7;
}

.logo {
  width: 70px;
  height: 70px;
  border: 2px solid #F1DABF;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.resort-btn {
  height: 30px;
  min-width: 125px;
  font-size: 15px;
  border: #188FA7;
  background-color: #188FA7;
  color: #FFFBFF;
  border-radius: 10px;
  margin-bottom: 10px;

}

button:hover {
  box-shadow: 0px 0px 5px black;
}

/* Home page styles */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.img-banner {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

} */

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 25px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
  border: 5px solid #188FA7;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

/* resort display & card */
.resort-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.resort-card {
  height: 375px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #188FA7;
  background-color: #F1DABF;
  border-radius: 10px;
  padding: 5px;
  margin-top: 50px;
}

.resort-img {
  width: 200px;
  height: 200px;
  border: 5px solid #188FA7;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 10px;
}

/* login form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: sticky;
  color: snow;
}

.login-form {
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #188FA7;
  background-color: #188FA7;
  border-radius: 15px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  border: 5px solid snow;
  border-radius: 15px;
  padding: 10px;
}

.login-header {
  display: flex;
  text-align: center;
  font-weight: bold;
  border: 5px soild snow;
}


.register-btn {
  background-color: snow;
  border: 5px solid snow;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #188FA7;
}

.submit-btn {
  background-color: snow;
  border: 5px solid snow;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #188FA7;
  margin-top: 20px;
}

/* travel list */
.travel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #188FA7;
}

.travel-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}